Repository oreqizer/todo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --check --plugin-search-dir=., eslint --ignore-path .gitignore, prettier --write

chore: add stack to readme, commitlint cjs
  README.md
  commitlint.config.cjs
Due: prettier --write

fix(src): hide arrow when no todos
  src/lib/scenes/Todos/index.svelte
Due: none

feat(src): dark mode
  src/app.css
  src/lib/components/Footer.svelte
  src/lib/components/Title.svelte
  src/lib/scenes/Todos/components/Controls.svelte
  src/lib/scenes/Todos/components/InputForm.svelte
  src/lib/scenes/Todos/components/TodoItem.svelte
  src/lib/scenes/Todos/index.svelte
  src/routes/__layout.svelte
  tailwind.config.cjs
Due: none

feat(dev): static build
  package.json
  svelte.config.js
  yarn.lock
Due: prettier --ignore-path .gitignore --check --plugin-search-dir=., eslint --ignore-path .gitignore, prettier --write

fix(src): import casing
  src/routes/__layout.svelte
Due: none

chore: readme sneakpeek image
  README.md
  docs/sneakpeek.png
Due: prettier --write

chore: readme link
  README.md
Due: prettier --write

feat(src): seo
  src/app.html
Due: none

fix: tailwind dark not class
  tailwind.config.cjs
Due: none

fix(src): dark mode details
  src/lib/scenes/Todos/components/Controls.svelte
  src/lib/scenes/Todos/components/TodoItem.svelte
Due: none

chore: staged write prettier, fix lint, no warnings
  .lintstagedrc
  package.json
Due: prettier --write

Path conditions:
  prettier --ignore-path .gitignore --check --plugin-search-dir=.: any of: *.{js,ts,tsx}
  eslint --ignore-path .gitignore: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
